In [17]:
import pandas as pd
import numpy as np
df=pd.read_csv("Churn_Modelling.csv")

In [18]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [19]:
x=df.iloc[:,3:13]

y=df.iloc[:,13]

In [20]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [21]:
x.shape

(10000, 10)

In [6]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [7]:
geography=pd.get_dummies(x['Geography'],drop_first=True)
gender=pd.get_dummies(x["Gender"],drop_first=True)

In [8]:
x=pd.concat([x,geography,gender],axis=1)
x=x.drop(['Geography','Gender'],axis=1)

In [9]:
x.shape

(10000, 11)

In [10]:
y.shape

(10000,)

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)

In [12]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

In [13]:
x_test.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
9394,597,35,8,131101.04,1,1,1,192852.67,1,0,0
898,523,40,2,102967.41,1,1,0,128702.10,0,0,0
2398,706,42,8,95386.82,1,1,1,75732.25,0,1,0
5906,788,32,4,112079.58,1,0,0,89368.59,0,0,1
2343,706,38,5,163034.82,2,1,1,135662.17,1,0,1

In [15]:
x_test.shape

(3000, 11)

In [16]:

classifier=Sequential()
classifier.add(Dense(units=6,batch_size=32,kernel_initializer='he_uniform',activation='relu'))
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))
classifier.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])

In [17]:
classifier.fit(x_train,y_train,validation_split=0.33,batch_size=10,epochs=100)

Epoch 1/100
469/469 [==============================] - 3s 4ms/step - loss: 0.5968 - accuracy: 0.7353 - val_loss: 0.5546 - val_accuracy: 0.7720
Epoch 2/100
469/469 [==============================] - 1s 3ms/step - loss: 0.5351 - accuracy: 0.7823 - val_loss: 0.5169 - val_accuracy: 0.7927
Epoch 3/100
469/469 [==============================] - 2s 4ms/step - loss: 0.5057 - accuracy: 0.7931 - val_loss: 0.4969 - val_accuracy: 0.7932
Epoch 4/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4869 - accuracy: 0.7978 - val_loss: 0.4835 - val_accuracy: 0.7958
Epoch 5/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4723 - accuracy: 0.7987 - val_loss: 0.4732 - val_accuracy: 0.7958
Epoch 6/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4609 - accuracy: 0.7993 - val_loss: 0.4657 - val_accuracy: 0.7962
Epoch 7/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4510 - accuracy: 0.8034 - val_loss: 0.4593 - val_accuracy: 0.7988
Epoch 8/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4421 - accuracy: 0.8087 - val_loss: 0.4545 - val_accuracy: 0.8048
Epoch 9/100
469/469 [==============================] - 2s 3ms/step - loss: 0.4354 - accuracy: 0.8145 - val_loss: 0.4510 - val_accuracy: 0.8057
Epoch 10/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4302 - accuracy: 0.8168 - val_loss: 0.4484 - val_accuracy: 0.8079
Epoch 11/100
469/469 [==============================] - 2s 3ms/step - loss: 0.4260 - accuracy: 0.8200 - val_loss: 0.4462 - val_accuracy: 0.8061
Epoch 12/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4226 - accuracy: 0.8213 - val_loss: 0.4443 - val_accuracy: 0.8074
Epoch 13/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4196 - accuracy: 0.8217 - val_loss: 0.4427 - val_accuracy: 0.8087
Epoch 14/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4172 - accuracy: 0.8245 - val_loss: 0.4410 - val_accuracy: 0.8096
Epoch 15/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4149 - accuracy: 0.8255 - val_loss: 0.4398 - val_accuracy: 0.8092
Epoch 16/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4131 - accuracy: 0.8253 - val_loss: 0.4385 - val_accuracy: 0.8109
Epoch 17/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4116 - accuracy: 0.8273 - val_loss: 0.4374 - val_accuracy: 0.8118
Epoch 18/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4101 - accuracy: 0.8281 - val_loss: 0.4361 - val_accuracy: 0.8118
Epoch 19/100
469/469 [==============================] - 2s 3ms/step - loss: 0.4089 - accuracy: 0.8270 - val_loss: 0.4349 - val_accuracy: 0.8122
Epoch 20/100
469/469 [==============================] - 2s 3ms/step - loss: 0.4076 - accuracy: 0.8292 - val_loss: 0.4339 - val_accuracy: 0.8139
Epoch 21/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4065 - accuracy: 0.8294 - val_loss: 0.4327 - val_accuracy: 0.8148
Epoch 22/100
469/469 [==============================] - 2s 3ms/step - loss: 0.4053 - accuracy: 0.8302 - val_loss: 0.4317 - val_accuracy: 0.8152
Epoch 23/100
469/469 [==============================] - 2s 4ms/step - loss: 0.4042 - accuracy: 0.8300 - val_loss: 0.4304 - val_accuracy: 0.8165
Epoch 24/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4031 - accuracy: 0.8298 - val_loss: 0.4295 - val_accuracy: 0.8157
Epoch 25/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4019 - accuracy: 0.8292 - val_loss: 0.4283 - val_accuracy: 0.8174
Epoch 26/100
469/469 [==============================] - 1s 3ms/step - loss: 0.4007 - accuracy: 0.8290 - val_loss: 0.4272 - val_accuracy: 0.8170
Epoch 27/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3995 - accuracy: 0.8307 - val_loss: 0.4257 - val_accuracy: 0.8187
Epoch 28/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3984 - accuracy: 0.8305 - val_loss: 0.4245 - val_accuracy: 0.8200
Epoch 29/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3972 - accuracy: 0.8315 - val_loss: 0.4232 - val_accuracy: 0.8204
Epoch 30/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3960 - accuracy: 0.8319 - val_loss: 0.4222 - val_accuracy: 0.8217
Epoch 31/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3948 - accuracy: 0.8324 - val_loss: 0.4207 - val_accuracy: 0.8213
Epoch 32/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3935 - accuracy: 0.8334 - val_loss: 0.4195 - val_accuracy: 0.8217
Epoch 33/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3922 - accuracy: 0.8337 - val_loss: 0.4182 - val_accuracy: 0.8239
Epoch 34/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3906 - accuracy: 0.8347 - val_loss: 0.4171 - val_accuracy: 0.8243
Epoch 35/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3889 - accuracy: 0.8366 - val_loss: 0.4158 - val_accuracy: 0.8256
Epoch 36/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3873 - accuracy: 0.8375 - val_loss: 0.4144 - val_accuracy: 0.8278
Epoch 37/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3855 - accuracy: 0.8388 - val_loss: 0.4130 - val_accuracy: 0.8278
Epoch 38/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3841 - accuracy: 0.8407 - val_loss: 0.4115 - val_accuracy: 0.8286
Epoch 39/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3825 - accuracy: 0.8428 - val_loss: 0.4100 - val_accuracy: 0.8304
Epoch 40/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3809 - accuracy: 0.8428 - val_loss: 0.4086 - val_accuracy: 0.8321
Epoch 41/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3792 - accuracy: 0.8433 - val_loss: 0.4071 - val_accuracy: 0.8321
Epoch 42/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3776 - accuracy: 0.8441 - val_loss: 0.4057 - val_accuracy: 0.8330
Epoch 43/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3761 - accuracy: 0.8462 - val_loss: 0.4042 - val_accuracy: 0.8330
Epoch 44/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3745 - accuracy: 0.8484 - val_loss: 0.4028 - val_accuracy: 0.8321
Epoch 45/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3730 - accuracy: 0.8486 - val_loss: 0.4015 - val_accuracy: 0.8330
Epoch 46/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3715 - accuracy: 0.8488 - val_loss: 0.4003 - val_accuracy: 0.8334
Epoch 47/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3699 - accuracy: 0.8501 - val_loss: 0.3987 - val_accuracy: 0.8347
Epoch 48/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3686 - accuracy: 0.8507 - val_loss: 0.3975 - val_accuracy: 0.8356
Epoch 49/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3671 - accuracy: 0.8514 - val_loss: 0.3963 - val_accuracy: 0.8351
Epoch 50/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3656 - accuracy: 0.8511 - val_loss: 0.3954 - val_accuracy: 0.8369
Epoch 51/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3643 - accuracy: 0.8518 - val_loss: 0.3944 - val_accuracy: 0.8377
Epoch 52/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3629 - accuracy: 0.8526 - val_loss: 0.3932 - val_accuracy: 0.8373
Epoch 53/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3615 - accuracy: 0.8539 - val_loss: 0.3920 - val_accuracy: 0.8360
Epoch 54/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3603 - accuracy: 0.8520 - val_loss: 0.3908 - val_accuracy: 0.8356
Epoch 55/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3589 - accuracy: 0.8522 - val_loss: 0.3899 - val_accuracy: 0.8377
Epoch 56/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3579 - accuracy: 0.8535 - val_loss: 0.3888 - val_accuracy: 0.8356
Epoch 57/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3568 - accuracy: 0.8548 - val_loss: 0.3876 - val_accuracy: 0.8351

Epoch 58/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3556 - accuracy: 0.8558 - val_loss: 0.3868 - val_accuracy: 0.8386
Epoch 59/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3547 - accuracy: 0.8560 - val_loss: 0.3856 - val_accuracy: 0.8364
Epoch 60/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3537 - accuracy: 0.8575 - val_loss: 0.3847 - val_accuracy: 0.8377
Epoch 61/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3528 - accuracy: 0.8565 - val_loss: 0.3841 - val_accuracy: 0.8377
Epoch 62/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3519 - accuracy: 0.8563 - val_loss: 0.3830 - val_accuracy: 0.8382
Epoch 63/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3511 - accuracy: 0.8569 - val_loss: 0.3824 - val_accuracy: 0.8382
Epoch 64/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3503 - accuracy: 0.8580 - val_loss: 0.3817 - val_accuracy: 0.8386
Epoch 65/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3497 - accuracy: 0.8573 - val_loss: 0.3810 - val_accuracy: 0.8390
Epoch 66/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3491 - accuracy: 0.8575 - val_loss: 0.3804 - val_accuracy: 0.8395
Epoch 67/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3486 - accuracy: 0.8584 - val_loss: 0.3799 - val_accuracy: 0.8390
Epoch 68/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3478 - accuracy: 0.8588 - val_loss: 0.3791 - val_accuracy: 0.8421
Epoch 69/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3474 - accuracy: 0.8580 - val_loss: 0.3789 - val_accuracy: 0.8421
Epoch 70/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3469 - accuracy: 0.8582 - val_loss: 0.3785 - val_accuracy: 0.8399
Epoch 71/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3462 - accuracy: 0.8592 - val_loss: 0.3781 - val_accuracy: 0.8403
Epoch 72/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3459 - accuracy: 0.8580 - val_loss: 0.3777 - val_accuracy: 0.8421
Epoch 73/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3453 - accuracy: 0.8582 - val_loss: 0.3772 - val_accuracy: 0.8416
Epoch 74/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3449 - accuracy: 0.8582 - val_loss: 0.3767 - val_accuracy: 0.8416
Epoch 75/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3445 - accuracy: 0.8569 - val_loss: 0.3762 - val_accuracy: 0.8412
Epoch 76/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3443 - accuracy: 0.8586 - val_loss: 0.3761 - val_accuracy: 0.8429
Epoch 77/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3439 - accuracy: 0.8582 - val_loss: 0.3759 - val_accuracy: 0.8451
Epoch 78/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3436 - accuracy: 0.8582 - val_loss: 0.3755 - val_accuracy: 0.8442
Epoch 79/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3433 - accuracy: 0.8575 - val_loss: 0.3749 - val_accuracy: 0.8447
Epoch 80/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3430 - accuracy: 0.8590 - val_loss: 0.3750 - val_accuracy: 0.8464
Epoch 81/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3427 - accuracy: 0.8578 - val_loss: 0.3746 - val_accuracy: 0.8468
Epoch 82/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3425 - accuracy: 0.8580 - val_loss: 0.3740 - val_accuracy: 0.8455
Epoch 83/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3423 - accuracy: 0.8599 - val_loss: 0.3737 - val_accuracy: 0.8473
Epoch 84/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3420 - accuracy: 0.8590 - val_loss: 0.3735 - val_accuracy: 0.8460
Epoch 85/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3418 - accuracy: 0.8603 - val_loss: 0.3735 - val_accuracy: 0.8473
Epoch 86/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3412 - accuracy: 0.8607 - val_loss: 0.3731 - val_accuracy: 0.8447
Epoch 87/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8597 - val_loss: 0.3735 - val_accuracy: 0.8490
Epoch 88/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3410 - accuracy: 0.8603 - val_loss: 0.3728 - val_accuracy: 0.8468
Epoch 89/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3407 - accuracy: 0.8610 - val_loss: 0.3727 - val_accuracy: 0.8460
Epoch 90/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3405 - accuracy: 0.8603 - val_loss: 0.3724 - val_accuracy: 0.8477
Epoch 91/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3404 - accuracy: 0.8599 - val_loss: 0.3722 - val_accuracy: 0.8477
Epoch 92/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3402 - accuracy: 0.8601 - val_loss: 0.3721 - val_accuracy: 0.8468
Epoch 93/100
469/469 [==============================] - 1s 3ms/step - loss: 0.3398 - accuracy: 0.8612 - val_loss: 0.3716 - val_accuracy: 0.8477
Epoch 94/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3398 - accuracy: 0.8610 - val_loss: 0.3713 - val_accuracy: 0.8468
Epoch 95/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3396 - accuracy: 0.8612 - val_loss: 0.3712 - val_accuracy: 0.8468
Epoch 96/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3394 - accuracy: 0.8618 - val_loss: 0.3709 - val_accuracy: 0.8486
Epoch 97/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3391 - accuracy: 0.8616 - val_loss: 0.3707 - val_accuracy: 0.8490
Epoch 98/100
469/469 [==============================] - 2s 4ms/step - loss: 0.3391 - accuracy: 0.8595 - val_loss: 0.3706 - val_accuracy: 0.8477
Epoch 99/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3388 - accuracy: 0.8607 - val_loss: 0.3702 - val_accuracy: 0.8490
Epoch 100/100
469/469 [==============================] - 2s 3ms/step - loss: 0.3388 - accuracy: 0.8624 - val_loss: 0.3699 - val_accuracy: 0.8490

In [18]:
classifier.save("churn.h5")